<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <env name="GAZEBO_RESOURCE_PATH" value="$(find interbotix_gazebo)"/>


  <arg name="robot_name"                    default="wx200"/>
  <arg name="robot_model"                   default="$(arg robot_name)"/>
  <arg name="use_default_gripper_bar"       default="true"/>
  <arg name="use_default_gripper_fingers"   default="true"/>
  <arg name="use_world_frame"               default="true">/>
  <arg name="external_urdf_loc"             default=""/>
  <arg name="use_default_rviz"              default="false"/>
  <arg name="gui"                           default="true"/>
  <arg name="debug"                         default="false"/>
  <arg name="paused"                        default="true"/>
  <arg name="recording"                     default="false"/>
  <arg name="use_sim_time"                  default="true"/>

  <rosparam file="$(find interbotix_gazebo)/config/$(arg robot_model)_gazebo_controllers.yaml" command="load" ns="$(arg robot_name)"/>

  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="$(arg robot_name)"
    args="arm_controller gripper_controller joint_state_controller"/>

  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <arg name="x_pos_" default="-3.0"/>
  <arg name="y_pos_" default="1.0"/>
  <arg name="z_pos_" default="0.2"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <include file="$(find interbotix_descriptions)/launch/description.launch">
    <arg name="robot_name"                    value="$(arg robot_name)"/>
    <arg name="robot_model"                   value="$(arg robot_model)"/>
    <arg name="use_default_gripper_bar"       value="$(arg use_default_gripper_bar)"/>
    <arg name="use_default_gripper_fingers"   value="$(arg use_default_gripper_fingers)"/>
    <arg name="use_world_frame"               value="$(arg use_world_frame)"/>
    <arg name="external_urdf_loc"             value="$(arg external_urdf_loc)"/>
    <arg name="load_gazebo_configs"           value="true"/>
    <arg name="use_default_rviz"              value="$(arg use_default_rviz)"/>
  </include>

  <node
    name="urdf_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    ns="$(arg robot_name)"
	  args="-urdf -model $(arg robot_model) -x $(arg x_pos_) -y $(arg y_pos_) -z $(arg z_pos_) -param robot_description">
    <remap from="tf" to="gazebo_tf"/> 
    </node>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
