<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ros_control)/bot.xacro'" />

  <!-- Show in Rviz   -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_control)/bot.rviz"/-->

  <!-- Include gazebo launch file rrbot_world.launch -->
  <include file="$(find ros_control)/bot_world.launch" />

  <!-- Include ros_control launch file to load joint position controllers -->
  <include file="$(find ros_control)/bot_control.launch" />

  <!-- Create node to control joint positions using joint controller -->
  <!--node name="joint_position_node" pkg="ros_control" type="bot_position_controller.py" output="screen" respawn="true" /-->

</launch>
